# Your GitHub Personal Access Token. If you want reviews to come from
# a different persona, create a new github account and add it as a contributor to your repo.
GITHUB_PERSONAL_ACCESS_TOKEN={{YOUR_TOKEN_HERE}}

# The project git repository path you are going to be reviewing (where the actual code is)
PROJECT_REPOSITORY_PATH={{YOUR_PATH_HERE}}