# The GitHub Personal Access Token. If you want reviews to come from
# the review bot persona, look for the token in the secret store 'pr-review-bot'.
GITHUB_PERSONAL_ACCESS_TOKEN={{YOUR_TOKEN_HERE}}

# The path to the Git MCP server in this folder
GIT_MCP_SERVER_PATH={{YOUR_PATH_HERE}}

# The path to the GitHub MCP server in this folder
GITHUB_MCP_SERVER_PATH={{YOUR_PATH_HERE}}

# The project git repository path you are going to be reviewing
PROJECT_REPOSITORY_PATH={{YOUR_PATH_HERE}}