# Your GitHub Personal Access Token. If you want reviews to come from
# the review agent persona, look for the token in the secret store 'pr-review-agent'.
GITHUB_PERSONAL_ACCESS_TOKEN={{YOUR_TOKEN_HERE}}

# The project git repository path you are going to be reviewing (where the actual code is)
PROJECT_REPOSITORY_PATH={{YOUR_PATH_HERE}}